{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class='container'>
	<div class='row'>
		<div class='col-xs-6 col-sm-offset-3'>
		<script>
            {% if messages %}
                {% for message in messages %}
                    alert(message);
                {% endfor %}
            {% endif %}
        </script>
		<form method="post">
			{% csrf_token %}
			{{form|crispy}}
			{% if form.non_field_errors %}
    			<ul class='form-errors'>
        			{% for error in form.non_field_errors %}
            			<li>{{ error }}</li>
        			{% endfor %}
    			</ul>
			{% endif %}
			{{ form.non_field_errors }}
			<input type="submit" class='btn btn-block btn-primary col-sm-4' value="Reset Password" />
		</form>
		</div>
	</div>
</div>
{% endblock %}
