{% extends 'base.html' %}
{%load staticfiles%}

{%block content %}
<div class='container'>
<form method='POST'>{%csrf_token%}
	<div class='row'>
		<div class='col-sm-4 col-sm-offset-3'>
			User Name  : {{user.username}}<br>
			First Name : {{user.first_name}}<br>
			Last Name  : {{user.last_name}}<br>
			Email      : {{user.email}}<br>
			Web Site   : {{user.userprofile.website}}<br>
			City       : {{user.userprofile.city}}<br>
		</div>
		{% if request.user.userprofile.image %}
			<div class='col-sm-4 col-sm-offset-3'>
				<img src= "{{request.user.userprofile.image.url}}"  width="200"/>
			</div>
		{%  endif %}
	</div>
		<div class='row'>
			<div class='col-sm-4 col-sm-offset-3'>
				<button type="submit" class="btn btn-primary" >Edit Profile</button>
			</div>
		</div>
	</div>
</form>
</div>
{%endblock%}